{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Pen is never give up!">
    <meta name="keywords" content="blog,pen,never">

    <title>Pen 丶</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.jpg' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">

</head>

<body>

{% include 'sub/head.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-3 text-right hidden-xs left-menu">
            <a title="Entity Framework" class="menu-item active" href="#">Entity Framework</a>
            <a class="menu-item" href="#">IOC</a>
            <a class="menu-item" href="#">Msbuild</a>
            <a class="menu-item" href="#">NLog</a>
            <a title="Entity Framework" class="menu-item" href="#">Entity Framework</a>
            <a class="menu-item" href="#">IOC</a>
            <a class="menu-item" href="#">Msbuild</a>
            <a class="menu-item" href="#">NLog</a>
            <a title="Entity Framework" class="menu-item" href="#">Entity Framework</a>
            <a class="menu-item" href="#">IOC</a>
            <a class="menu-item" href="#">Msbuild</a>
            <a class="menu-item" href="#">NLog</a>

        </div>

        <div class="col-md-7 col-sm-9 ">

            <div class="article-list container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-4 hidden-xs">
                        <a href="#"><img src="{% static 'img/pic1.png' %}"></a>
                    </div>

                    <div class="col-md-9 col-sm-8">
                        <a href="#">
                            <h3>HTML5 移动浏览器支持</h3>
                        </a>
                        <a>
                            <p>
                                首先，技术团队中的每个位成员需要积极主动。 那么如何技术团队成员如何做到积极主动了。下面列举了几点，当然还有很多其他的积极主动事例。
                                1、积极主动的成员是遇到技术问题，不是表示无能为力，而是的想有没有其他的解决方案。 2、积极主动的成员时间和精力集中在影响圈，而不是关注圈。如果你做.net企业级应该开...
                            </p>
                        </a>
                        <div class="list-bottom">
                            <div class="tag">蓝玉</div>
                            <div class="tag">石家庄赵子龙士大夫士大夫赵子龙</div>

                            <span class="list-number">浏览 1111115 <i></i></span>
                            <span class="list-time">4小时前</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-list container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-4 hidden-xs">
                        <a href="#"><img src="{% static 'img/pic1.png' %}"></a>
                    </div>

                    <div class="col-md-9 col-sm-8">
                        <a href="#">
                            <h3>HTML5 移动浏览器支持</h3>
                        </a>
                        <a>
                            <p>
                                首先，技术团队中的每个位成员需要积极主动。 那么如何技术团队成员如何做到积极主动了。下面列举了几点，当然还有很多其他的积极主动事例。
                                1、积极主动的成员是遇到技术问题，不是表示无能为力，而是的想有没有其他的解决方案。 2、积极主动的成员时间和精力集中在影响圈，而不是关注圈。如果你做.net企业级应该开...
                            </p>
                        </a>
                        <div class="list-bottom">
                            <div class="tag">蓝玉</div>
                            <div class="tag">蓝玉</div>
                            <div class="tag">石家庄赵子龙士大夫士大夫赵子龙</div>
                            <div class="tag">石家庄赵子龙士大夫士大夫赵子龙</div>

                            <span class="list-number">浏览 15 <i></i></span>
                            <span class="list-time">4小时前</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-list container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-4 hidden-xs">
                        <a href="#"><img src="{% static 'img/pic1.png' %}"></a>
                    </div>

                    <div class="col-md-9 col-sm-8">
                        <a href="#">
                            <h3>HTML5 移动浏览器支持</h3>
                        </a>
                        <a>
                            <p>
                                首先，技术团队中的每个位成员需要积极主动。 那么如何技术团队成员如何做到积极主动了。下面列举了几点，当然还有很多其他的积极主动事例。
                                1、积极主动的成员是遇到技术问题，不是表示无能为力，而是的想有没有其他的解决方案。 2、积极主动的成员时间和精力集中在影响圈，而不是关注圈。如果你做.net企业级应该开...
                            </p>
                        </a>
                        <div class="list-bottom">
                            <div class="tag">蓝玉</div>
                            <div class="tag">蓝玉</div>
                            <div class="tag">石家庄赵子龙士大夫士大夫赵子龙</div>
                            <div class="tag">石家庄赵子龙士大夫士大夫赵子龙</div>

                            <span class="list-number">浏览 15 <i></i></span>
                            <span class="list-time">4小时前</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-list container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-4 hidden-xs">
                        <a href="#"><img src="{% static 'img/pic1.png' %}"></a>
                    </div>

                    <div class="col-md-9 col-sm-8">
                        <a href="#">
                            <h3>HTML5 移动浏览器支持</h3>
                        </a>
                        <a>
                            <p>
                                首先，技术团队中的每个位成员需要积极主动。 那么如何技术团队成员如何做到积极主动了。下面列举了几点，当然还有很多其他的积极主动事例。
                                1、积极主动的成员是遇到技术问题，不是表示无能为力，而是的想有没有其他的解决方案。 2、积极主动的成员时间和精力集中在影响圈，而不是关注圈。如果你做.net企业级应该开...
                            </p>
                        </a>
                        <div class="list-bottom">
                            <div class="tag">蓝玉</div>
                            <div class="tag">蓝玉</div>
                            <div class="tag">石家庄赵子龙士大夫士大夫赵子龙</div>
                            <div class="tag">石家庄赵子龙士大夫士大夫赵子龙</div>

                            <span class="list-number">浏览 15 <i></i></span>
                            <span class="list-time">4小时前</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-list container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-4 hidden-xs">
                        <a href="#"><img src="{% static 'img/pic1.png' %}"></a>
                    </div>

                    <div class="col-md-9 col-sm-8">
                        <a href="#">
                            <h3>HTML5 移动浏览器支持</h3>
                        </a>
                        <a>
                            <p>
                                首先，技术团队中的每个位成员需要积极主动。 那么如何技术团队成员如何做到积极主动了。下面列举了几点，当然还有很多其他的积极主动事例。
                                1、积极主动的成员是遇到技术问题，不是表示无能为力，而是的想有没有其他的解决方案。 2、积极主动的成员时间和精力集中在影响圈，而不是关注圈。如果你做.net企业级应该开...
                            </p>
                        </a>
                        <div class="list-bottom">
                            <div class="tag">蓝玉</div>
                            <div class="tag">蓝玉</div>
                            <div class="tag">石家庄赵子龙士大夫士大夫赵子龙</div>
                            <div class="tag">石家庄赵子龙士大夫士大夫赵子龙</div>

                            <span class="list-number">浏览 15 <i></i></span>
                            <span class="list-time">4小时前</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-list container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-4 hidden-xs">
                        <a href="#"><img src="{% static 'img/pic1.png' %}"></a>
                    </div>

                    <div class="col-md-9 col-sm-8">
                        <a href="#">
                            <h3>HTML5 移动浏览器支持</h3>
                        </a>
                        <a>
                            <p>
                                首先，技术团队中的每个位成员需要积极主动。 那么如何技术团队成员如何做到积极主动了。下面列举了几点，当然还有很多其他的积极主动事例。
                                1、积极主动的成员是遇到技术问题，不是表示无能为力，而是的想有没有其他的解决方案。 2、积极主动的成员时间和精力集中在影响圈，而不是关注圈。如果你做.net企业级应该开...
                            </p>
                        </a>
                        <div class="list-bottom">
                            <div class="tag">蓝玉</div>
                            <div class="tag">蓝玉</div>
                            <div class="tag">石家庄赵子龙士大夫士大夫赵子龙</div>
                            <div class="tag">石家庄赵子龙士大夫士大夫赵子龙</div>
                            <div class="tag">石家庄赵子龙士大夫士大夫赵子龙</div>
                            <div class="tag">石家庄赵子龙士大夫士大夫赵子龙</div>

                            <span class="list-number">浏览 15 <i></i></span>
                            <span class="list-time">4小时前</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-3 col-sm-12 right-menu">
            <div class="menu-item author">
                <div class="head">Pen 丶</div>
                <p>不要停留、你是人间平凡的狗..</p>
                <a>写文章</a>
            </div>

            <div class="menu-item">
                <h3 class="tag-title">标签</h3>
                <span class="tag">.Net</span>
                <span class="tag">Msbuild</span>
                <span class="tag">永乐大典</span>
                <span class="tag">明犯我强汉者、虽远必诛</span>
                <span class="tag">.Net</span>
                <span class="tag">永乐大典</span>
                <span class="tag">典</span>
                <span class="tag">Msbuild</span>
                <span class="tag">永乐大典</span>
                <span class="tag">明犯我强汉者、虽远必诛明犯我强汉者、虽远必诛明犯我强汉者、虽远必诛</span>
                <span class="tag">.Net</span>
                <span class="tag">永乐大典</span>
                <span class="tag">典</span>
            </div>

            <div class="menu-item">
                <h3 class="tag-title">常用工具</h3>

                <ul class="tools">
                    <li class="container-fluid">

                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <a href="#"><img src="{% static 'img/logo.jpg' %}"></a>
                        </div>


                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <a href="#"><img src="{% static 'img/logo.jpg' %}"></a>
                        </div>


                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <a href="#"><img src="{% static 'img/logo.jpg' %}"></a>
                        </div>


                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <a href="#"><img src="{% static 'img/logo.jpg' %}"></a>
                        </div>


                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <a href="#"><img src="{% static 'img/logo.jpg' %}"></a>
                        </div>


                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <a href="#"><img src="{% static 'img/logo.jpg' %}"></a>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</div>

{% include 'sub/foot.html' %}

<div id="to-top" class="hidden-xs hidden-sm">

</div>

<script src="{% static 'lib/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>

</body>

</html>