{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Pen is never give up!">
    <meta name="keywords" content="blog,pen,never">

    <title>Pen 丶</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.jpg' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">

</head>

<body>

{% include 'sub/head.html' %}

<div class="container">
    <div class="row">
        <div id="sub_category" class="col-md-2 col-sm-3 text-right hidden-xs left-menu">

        </div>

        <div id="article_list" class="col-md-7 col-sm-9 ">

        </div>

        <div class="col-md-3 col-sm-12 right-menu">
            <div class="menu-item author">
                <div class="head">Pen 丶</div>
                <p>不要停留、你是人间平凡的狗..</p>
                <a>写文章</a>
            </div>

            <div class="menu-item">
                <h3 class="tag-title">标签</h3>

                {% for t in tags %}
                    <span class="tag">{{ t.name }}</span>
                {% endfor %}

            </div>

            <div class="menu-item">
                <h3 class="tag-title">常用工具</h3>

                <ul class="tools">
                    <li class="container-fluid">

                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <a href="#"><img src="{% static 'img/logo.jpg' %}"></a>
                        </div>


                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <a href="#"><img src="{% static 'img/logo.jpg' %}"></a>
                        </div>


                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <a href="#"><img src="{% static 'img/logo.jpg' %}"></a>
                        </div>


                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <a href="#"><img src="{% static 'img/logo.jpg' %}"></a>
                        </div>


                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <a href="#"><img src="{% static 'img/logo.jpg' %}"></a>
                        </div>


                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <a href="#"><img src="{% static 'img/logo.jpg' %}"></a>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</div>

{% include 'sub/foot.html' %}

<div id="to-top" class="hidden-xs hidden-sm">

</div>

<script src="{% static 'lib/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/blog.js' %}"></script>

<script>
    $(document).ready(function () {
        get_sub_category(1)
    })
</script>

</body>

</html>