{% load static %}

{% for a in articles %}
    <div class="article-list container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-4 hidden-xs">
                <a href="#"><img src="{% static 'img/pic1.png' %}"></a>
            </div>

            <div class="col-md-9 col-sm-8">
                <a href="#">
                    <h3>HTML5 移动浏览器支持</h3>
                </a>
                <a>
                    <p>
                        首先，技术团队中的每个位成员需要积极主动。 那么如何技术团队成员如何做到积极主动了。下面列举了几点，当然还有很多其他的积极主动事例。
                        1、积极主动的成员是遇到技术问题，不是表示无能为力，而是的想有没有其他的解决方案。 2、积极主动的成员时间和精力集中在影响圈，而不是关注圈。如果你做.net企业级应该开...
                    </p>
                </a>
                <div class="list-bottom">
                    <div class="tag">蓝玉</div>
                    <div class="tag">石家庄赵子龙士大夫士大夫赵子龙</div>

                    <span class="list-number">浏览 1111115 <i></i></span>
                    <span class="list-time">4小时前</span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

