<footer>
    <div class="container">
        <div class="row top">
            <div class="col-md-6">
                <h4>Look Pen</h4>
                <p>搞起耍搞起耍搞起耍搞起耍搞起耍搞起耍搞起耍搞起耍耍搞起耍搞起耍搞耍搞起耍搞起耍搞耍搞起耍搞起耍搞搞起耍搞起耍搞起耍</p>
            </div>
            <div class="col-md-6 text-center links">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <h4>关于</h4>
                        <p>关于我们</p>
                        <!--<p>广告合作</p>-->
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <h4>联系</h4>
                        <p>电子邮件</p>
                        <p>在线沟通</p>
                    </div>

                </div>


            </div>
        </div>
        <hr>
        <div class="row bottom">
            <ul>
                <li><a href="#" target="_blank">xxxxxxxx号</a></li>
                |
                <li>京公网安备xxxxxx</li>
            </ul>

        </div>

    </div>
</footer>